doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="css/animate.css")
    link(href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    title Pasion Redonda
  body
    section(class="full-height text-center" id="main-center")
      div(class="data")
        div(class="col-md-3 center-block inline-block text-center espacio-arriba ")
          img(src="imgs/5.jpg")
        div(class="col-md-6 center-block inline-block quitar-float text-center vete-arriba")
          img(src="imgs/1.jpg" class="animated fadeIn")
          h1(class="yatra grande rojo delay-2") Patricio rey y sus redonditos de ricota
          h2(class="indie rojosuave delay-2") Una pagina para los seguidores de esta pasion.
          nav
            a(href="/menu" class="espacio-derecha") Menu
            a(href="http://redonditosdeabajo.com.ar" class="espacio-derecha") Historia
            a(href="http://facebook.com/demis.martin.18" class="espacio-derecha") Contacto
            a(href="http://facebook.com/demis.martin.18" class="espacio-derecha") Link Util
        div(class="col-md-3 center-block inline-block text-center espacio-arriba")
          img(src="imgs/5.jpg")