doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="css/animate.css")
    link(href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    title Pasion Ricotera
  body
    nav(class="se-gris padding-largo text-center")
        ul(class="no-lista")
            li(class="col-md-3 negrito inline-block")
                a(href="/" class="negrito indie") Patricio rey y sus redonditos de ricota
            li(class="col-md-3 negrito inline-block")
                a(href="http://redonditosdeabajo.com.ar" class="espacio-derecha negrito") Historia
            li(class="col-md-3 negrito indie inline-block")
                a(href="http://facebook.com/demis.martin.18" class="espacio-derecha negrito") Contacto
    block contenido